html, button, input, select, textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
  font-family: SourceSansPro;
  font-weight: normal;
  font-style: normal;
  src: url('fonts/SourceSansPro/SourceSansPro-Regular.eot');
  src: url('fonts/SourceSansPro/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/SourceSansPro/SourceSansPro-Regular.woff') format('woff'), url('fonts/SourceSansPro/SourceSansPro-Regular.ttf') format('truetype'), url('fonts/SourceSansPro/SourceSansPro-Regular.svg#SourceSansPro') format('svg'); }

@font-face {
  font-family: SourceSansPro;
  font-weight: normal;
  font-style: italic;
  src: url('fonts/SourceSansPro/SourceSansPro-It.eot');
  src: url('fonts/SourceSansPro/SourceSansPro-It.eot?#iefix') format('embedded-opentype'), url('fonts/SourceSansPro/SourceSansPro-It.woff') format('woff'), url('fonts/SourceSansPro/SourceSansPro-It.ttf') format('truetype'), url('fonts/SourceSansPro/SourceSansPro-It.svg#SourceSansPro') format('svg'); }

@font-face {
  font-family: SourceSansPro;
  font-weight: bold;
  font-style: normal;
  src: url('fonts/SourceSansPro/SourceSansPro-Bold.eot');
  src: url('fonts/SourceSansPro/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/SourceSansPro/SourceSansPro-Bold.woff') format('woff'), url('fonts/SourceSansPro/SourceSansPro-Bold.ttf') format('truetype'), url('fonts/SourceSansPro/SourceSansPro-Bold.svg#SourceSansPro') format('svg'); }

@font-face {
  font-family: SourceSansPro;
  font-weight: 900;
  font-style: normal;
  src: url('fonts/SourceSansPro/SourceSansPro-Black.eot');
  src: url('fonts/SourceSansPro/SourceSansPro-Black.eot?#iefix') format('embedded-opentype'), url('fonts/SourceSansPro/SourceSansPro-Black.woff') format('woff'), url('fonts/SourceSansPro/SourceSansPro-Black.ttf') format('truetype'), url('fonts/SourceSansPro/SourceSansPro-Black.svg#SourceSansPro') format('svg'); }

/* Global rules */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  background-color: #fff3ea; }

html, button, input, select, textarea {
  font-size: 1.1em;
  font-family: SourceSansPro, sans-serif; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

input[type="checkbox"], input[type="radio"] {
  transform: scale(1.5);
  margin: 0 0.4em 0 0.13em; }

textarea, select, input:not([type="checkbox"]):not([type="radio"]) {
  background-color: #fff;
  border: solid 1px #bbb;
  color: #333;
  line-height: 1.4;
  padding: 0.25em;
  box-shadow: inset 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.15); }

/* Utility classes */
.btn {
  max-width: 18em;
  padding: 0.4em 0.7em;
  border: 0;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 0 0.1em #000;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%), -webkit-linear-gradient(top, #44c, #00a);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(to bottom, #44c, #00a);
  border-radius: 0.2em;
  box-shadow: inset 0 -0.03em 0.03em 0.03em rgba(0, 0, 0, 0.4), inset 0 0 1em 0.2em rgba(255, 255, 255, 0.2), 0 0.03em 0.05em 0.1em rgba(0, 0, 0, 0.1);
  outline: 0; }
  .btn:hover {
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%), -webkit-linear-gradient(top, #55e, #008);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(to bottom, #55e, #008);
    box-shadow: inset 0 -0.03em 0.03em 0.03em rgba(0, 0, 0, 0.7), inset 0 0 2em 0.2em rgba(255, 255, 255, 0.25), 0 0.03em 0.05em 0.1em rgba(0, 0, 0, 0.13); }
  .btn:active, .btn.active {
    box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.7);
    background-image: -webkit-linear-gradient(top, #33b, #008);
    background-image: linear-gradient(to bottom, #33b, #008); }
  .btn.secondary {
    color: #333;
    text-shadow: none;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%), -webkit-linear-gradient(top, #eee, #ccc);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(to bottom, #eee, #ccc); }
    .btn.secondary:hover {
      background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%), -webkit-linear-gradient(top, #fff, #ddd);
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(to bottom, #fff, #ddd); }
  .btn.transparent {
    background: none; }
  .btn .fa {
    margin-right: 0.3em; }

button.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  background: 0;
  border: 0;
  color: #444;
  line-height: 1; }
  button.close:hover {
    color: #f00; }

.auto-rows {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top; }

.aside, .accounts .stream-group > ul .item .streamType {
  font-size: 85%;
  color: #666; }

.clickable, .accounts .stream-group > ul .item {
  cursor: pointer; }

.formRow {
  padding: 0.3em 0 0.8em; }
  .formRow:not(.inline) label {
    display: block; }

.panel {
  position: absolute;
  z-index: 1;
  background: #fff;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.3);
  padding: 1em; }

.loading-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); }
  .loading-mask .center-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 1; }
    .loading-mask .center-icon .fa {
      font-size: 3em;
      color: #fff;
      position: relative;
      left: -50%;
      top: -0.5em; }

/* Global elements */
.topBar {
  background-image: -webkit-linear-gradient(top, #424B59, #2B313A);
  background-image: linear-gradient(to bottom, #424B59, #2B313A);
  box-shadow: 0 -0.75em 0.5em 1em rgba(0, 0, 0, 0.3);
  padding: 0 1%; }
  .topBar a {
    color: #dcb;
    text-shadow: 0 0.04em 0.1em #000; }
    .topBar a:hover {
      color: #fff;
      text-shadow: 0 0.1em 0.13em #000; }
    .topBar a.active {
      box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.3); }
  .topBar header {
    float: left;
    line-height: 3em; }
    .topBar header a {
      display: block;
      text-decoration: none; }
      .topBar header a h1 {
        font-size: 1.8em;
        margin: 0; }
  .topBar .primary-nav {
    float: left;
    margin: 0 4%; }
    .topBar .primary-nav li {
      display: block;
      float: left;
      width: 6em;
      height: 3em; }
      .topBar .primary-nav li a {
        display: block;
        width: 100%;
        height: 3em;
        padding: 0.3em;
        text-align: center;
        text-decoration: none; }
        .topBar .primary-nav li a:hover {
          box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.15); }
        .topBar .primary-nav li a span .fa {
          display: block; }
      .topBar .primary-nav li.active a {
        box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.4); }
  .topBar .auth {
    position: relative;
    float: right;
    text-align: right;
    line-height: 3; }
    .topBar .auth .panel {
      right: 0;
      width: 17em;
      text-align: left;
      line-height: 1.4; }
      .topBar .auth .panel input:not([type="checkbox"]):not([type="radio"]) {
        width: 100%; }
      .topBar .auth .panel button {
        float: right; }
    .topBar .auth .log-in.btn {
      margin-right: 0.5em; }

.actionBar {
  padding: 0.5em 0; }
  .actionBar .btn {
    margin-right: 1em; }

/* Page elements */
.ledger table {
  table-layout: fixed;
  width: 100%;
  min-width: 100em;
  background-color: #fff; }
.ledger th {
  vertical-align: top;
  background-color: #559;
  color: #fff;
  border-left: solid 1px #77b;
  border-right: solid 1px #77b; }
  .ledger th.stream {
    font-weight: bold; }
  .ledger th.subStream {
    font-weight: normal;
    font-size: 0.8em;
    border: 0; }
  .ledger th.date {
    width: 4em; }
.ledger th, .ledger td {
  padding: 0.2em;
  overflow: hidden; }
.ledger td {
  border: solid 1px #e5e5e5; }

.accounts {
  padding: 0 1%; }
  .accounts .streams-list h2 {
    margin: 0.7em 0 0.2em; }
  .accounts .stream-group > ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0 -1%; }
    .accounts .stream-group > ul .item {
      list-style: none;
      padding: 1%;
      background: #fff;
      margin: 0 1% 1em;
      width: 98%; }
      @media screen and (min-width: 30em) {
        .accounts .stream-group > ul .item {
          width: 48%; } }
      @media screen and (min-width: 45em) {
        .accounts .stream-group > ul .item {
          width: 31%; } }
      @media screen and (min-width: 70em) {
        .accounts .stream-group > ul .item {
          width: 23%; } }
      .accounts .stream-group > ul .item .streamName {
        font-size: 115%;
        font-weight: bold; }
  .accounts .addStreamForm .formRow {
    position: relative; }
  .accounts .addStreamForm .field {
    max-width: 18em;
    width: 100%; }
  .accounts .addStreamForm .helpText {
    margin: 0.2em 0 0;
    max-width: 24em; }
  .accounts .addStreamForm input:not([type="checkbox"]):not([type="radio"]), .accounts .addStreamForm select, .accounts .addStreamForm textarea {
    width: 100%; }
  .accounts .addStreamForm #newStream-intRate::after {
    content: "%"; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }
  a, a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
	 * Don't show links for images, or javascript/internal links
	 */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }
