<div
	class="auth"
	ng-cloak
	ng-controller="AuthController"
>

	<button
		class="log-in btn"
		ng-click="handleLoginClick()"
		ng-if="!user.isLoggedIn"
	>
		<i class="fa fa-sign-in"></i> Log In
	</button>
	<form
		method="post"
		data-url="{% url 'api' version="1" method="loginUser" %}"
		class="panel log-in-panel"
		ng-if="loginPanelOpen && !user.isLoggedIn"
		ng-submit="handleLoginSubmit()"
	>
		<div class="formRow">
			<label for="loginUsername">
				Username
			</label>
			<input type="text" id="loginUsername" name="username" autocorrect="off" autocapitalize="off">
		</div>
		<div class="formRow">
			<label for="loginPassword">
				Password
			</label>
			<input type="password" id="loginPassword" name="password">
		</div>
		<div class="formRow">
			<label>
				<input type="checkbox" name="loginRemember">
				Remember me
			</label>
		</div>
		<div class="formRow">
			<button
				class="btn"
				type="submit"
			>
				<i class="fa fa-sign-in"></i> Log In
			</button>
		</div>
	</form>

	<button
		class="sign-up btn"
		ng-click="handleSignupClick()"
		ng-if="!user.isLoggedIn"
	>
		<i class="fa fa-user"></i> Sign Up
	</button>
	<form
		method="post"
		data-url="{% url 'api' version="1" method="createUser" %}"
		class="panel sign-up-panel"
		ng-if="signupPanelOpen && !user.isLoggedIn"
		ng-submit="handleSignupSubmit()"
	>
		<div class="formRow">
			<label for="signupUsername">
				Username
			</label>
			<input type="text" id="signupUsername" name="username" autocomplete="off" autocorrect="off" autocapitalize="off">
		</div>
		<div class="formRow">
			<label for="signupEmail">
				E-mail Address
			</label>
			<input type="email" id="signupEmail" name="email" autocomplete="off">
		</div>
		<div class="formRow">
			<label for="signupPassword">
				Password
			</label>
			<input type="password" id="signupPassword" name="password" autocomplete="off">
		</div>
		<div class="formRow">
			<label for="signupRePassword">
				Password (again)
			</label>
			<input type="password" id="signupRePassword" name="" autocomplete="off">
		</div>
		<div class="formRow">
			<button
				class="btn"
				type="submit"
			>
				<i class="fa fa-user"></i> Sign Up
			</button>
		</div>
	</form>

	<form
		data-url="{% url 'api' version="1" method="logoutUser" %}"
		class="log-out"
		ng-if="user.isLoggedIn"
	>
		<p class="loggedInAs">
			You are logged in as {% verbatim %}{{ user.username }}{% endverbatim %}.
		</p>
		<button
			class="btn"
			ng-click="handleLogoutClick()"
		>
			<i class="fa fa-sign-out fa-flip-horizontal"></i> Log Out
		</button>
	</form>

</div>
