<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>DoshCast</title>
	<meta name="description" content="Personal finance projections for your face.">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">

	<link rel="stylesheet" href="/bower/fontawesome/css/font-awesome.css">
	<link rel="stylesheet" href="/bower/normalize.css/normalize.css">
	<link rel="stylesheet" href="/style/main.css">
</head>
<body>

	<div id="app"></div>

	<script>window.user = {{user}};</script>

	<script src="/bower/lodash/lodash.js"></script>
	<script src="/bower/zeptojs/src/zepto.js"></script>
	<script src="/bower/zeptojs/src/ajax.js"></script>
	<script src="/bower/zeptojs/src/callbacks.js"></script>
	<script src="/bower/zeptojs/src/deferred.js"></script>
	<script src="/bower/zeptojs/src/event.js"></script>
	<script src="/bower/zeptojs/src/form.js"></script>
	<script src="/bower/cookies-js/dist/cookies.js"></script>
	<script src="/bower/moment/moment.js"></script>
	<script src="/bower/snap.svg/dist/snap.svg.js"></script>
	<script src="/bower/eventEmitter/EventEmitter.js"></script>
	<script src="/bower/react/react.js"></script>
	<script src="/bower/react/react-dom.js"></script>
	<script src="/bower/react-router/build/umd/ReactRouter.js"></script>

	<script src="/logic/util.js"></script>
	<script src="/logic/store.js"></script>
	<script src="/logic/main.js"></script>
	<script src="/logic/ledger.js"></script>
	<script src="/models/Model.js"></script>
	<script src="/models/User.js"></script>
	<script src="/models/Stream.js"></script>
	<script src="/models/StreamRevision.js"></script>
	<script src="/models/ManualEntry.js"></script>
	<script src="/components/mixins/event-listener.js"></script>
	<script src="/components/app.js"></script>
	<script src="/components/util.js"></script>
	<script src="/components/primary-nav.js"></script>
	<script src="/components/auth.js"></script>
	<script src="/components/dashboard.js"></script>
	<script src="/components/accounts.js"></script>
	<script src="/components/ledger.js"></script>
	<script src="/components/goals.js"></script>
	<script src="/components/projection.js"></script>
</body>
</html>
