<!DOCTYPE html>
<html ng-app="dosh">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title ng-bind="pageTitle"></title>
	<meta name="description" content="{{ metaDesc }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">

	<link rel="stylesheet" href="/bower/fontawesome/css/font-awesome.css">
	<link rel="stylesheet" href="/bower/normalize.css/normalize.css">
	<link rel="stylesheet" href="/css/main.css">

	<script src="/bower/lodash/dist/lodash.js"></script>
	<script src="/bower/angular/angular.js"></script>
	<script src="/bower/angular-filter/dist/angular-filter.js"></script>
	<script src="/bower/angular-resource/angular-resource.js"></script>
	<script src="/bower/moment/moment.js"></script>
	<script src="/bower/snap.svg/dist/snap.svg.js"></script>

	<script src="/js/models/Model.js"></script>
	<script src="/js/models/User.js"></script>
	<script src="/js/models/Stream.js"></script>
	<script src="/js/models/StreamRevision.js"></script>
	<script src="/js/models/ManualEntry.js"></script>
	<script src="/js/util.js"></script>
	<script src="/js/main.js"></script>
</head>
<body class="page-{{ bodyClass }}">

	<nav
		class="primary"
		ng-controller="PrimaryNavController"
	>
		<a
			ng-repeat="link in links"
			href="{{link.href}}"
		>
			{{link.name}}
		</a>
	</nav>

	<div class="main">

		<div
			class="dashboard"
			ng-controller="DashboardController"
		>
			{{message}}
		</div>

	</div>

</body>
</html>
