<div
	class="ledger"
	ng-controller="LedgerController"
>
	<table id="ledger-table">
		<thead>
			<tr>
				<th class="date" rowspan="2">Date</th>
				<th
					class="stream"
					ng-repeat="stream in streams"
					colspan="{{ stream.columns.length }}"
					rowspan="{{ (stream.columns.length === 1 ? 2 : 1) }}"
				>
					{{ stream.name }}
				</th>
			</tr>
			<tr>
				<th
					class="subStream"
					ng-repeat="subStream in subStreams track by $index"
				>
					{{ subStream }}
				</th>
			</tr>
		</thead>
		<tbody>
			<tr
				ng-repeat="(date, entry) in ledger track by $index"
				data-date="{{ date }}"
			>
				<td
					class="date"
					title="{{ entry.fullDate }}"
				>
					{{ entry.printDate }}
				</td>
				<td
					class="stream"
					ng-repeat="column in entry.row track by $index"
				>
					{{ column.val }}
				</td>
			</tr>
		</tbody>
	</table>
</div>